<nav class="navbar navbar-expand-lg navbar-dark bg-primary" >
    <div class="container-fluid">
      <img src="../../../../assets/rick-and-morty-31015.png" alt="Rick and morty image" width="150px">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Characters
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Locations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Episodes</a>
          </li>
        </ul>
        <form class="d-flex">
          <app-form-search></app-form-search>
        </form>
      </div>
    </div>
  </nav>